{#
/**
 * @file
 * Theme to implement the newsletter section content
 *
 * Created by Joshua Nicholson on 4/28/22
*
#}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		<h2>{{ content.field_newsletter_section_title }}</h2>
		{% if paragraph.field_newsletter_section_style.value is same as("0") %}
			{% for key, item in paragraph.field_newsletter_section_select if key|first != '#' %}
				{# Code to render selected article content #}
				{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view %}
					{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail|view }}
					<h3><a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
						{{ item.entity.field_newsletter_article_select.entity.title.value|render|striptags|trim }}
					</a></h3>
					<div class="article-teaser-meta">
						{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view }}
					</div>
					<div class="article-summary">
						{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_summary|view }}
					</div>
				{% endif %}

				{# Code to render user made content #}
				{% if item.entity.field_newsletter_content_title|view %}
					{{ item.entity.field_newsletter_content_image|view }}
					<h3>
						{{ item.entity.field_newsletter_content_title|view }}
					</h3>
					<div class="article-summary">
						{{ item.entity.field_newsletter_content_text|view }}
					</div>
				{% endif %}
			{% endfor %}
		{% else %}
			<div class="row row-content">
				{% for key, item in paragraph.field_newsletter_section_select if key|first != '#' %}
					<div
						class="col-5">
						{# Code to render selected article content #}
						{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view %}
							<h3><a href="{{ path('entity.node.canonical', {'node': item.entity.field_newsletter_article_select.target_id}) }}">
								{{ item.entity.field_newsletter_article_select.entity.title.value|render|striptags|trim }}
							</a></h3>
							<div class="article-teaser-meta">
								{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_categories|view }}
							</div>
							<div class="article-summary">
								{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_summary|view }}
							</div>
						{% endif %}

						{# Code to render user made content #}
						{% if item.entity.field_newsletter_content_title|view %}
							<h3>
								{{ item.entity.field_newsletter_content_title|view }}
							</h3>
							<div class="article-summary">
								{{ item.entity.field_newsletter_content_text|view }}
							</div>
						{% endif %}
					</div>
					<div
						class="col-1 align-self-center">
						{# Code to render selected article content #}
						{% if item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail|view %}
							<img src="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.entity.fileuri|image_style('focal_image') }}" alt="{{ item.entity.field_newsletter_article_select.entity.field_ucb_article_thumbnail.entity.field_media_image.alt|render }}"/>
						{% endif %}

						{# Code to render user made content #}
						{% if item.entity.field_newsletter_content_image|view %}
							<img src="{{ item.entity.field_newsletter_content_image.entity.field_media_image.entity.fileuri|image_style('focal_image') }}" alt="{{ item.entity.field_newsletter_content_image.entity.field_media_image.alt|render }}"/>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		{% endif %}
		{% if content.field_newsletter_section_link|render %}
			{{ content.field_newsletter_section_link }}
		{% endif %} 
	</div>
{% endblock paragraph %}
