{#
/**
 * Theme layout to display a Newsletter Page's Article content in the Teaser Display.
 *
 */
#}

{{ attach_library('ucb2021_base/ucb-page') }}
{{ attach_library('ucb2021_base/ucb-article') }}

{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{% set sidebar_position = drupal_config('ucb2021_base.settings', 'ucb_sidebar_position') %}

<article{{attributes.addClass(classes)}}>
  <h3>Fat TEST</h3>
  <div class="row row-content">
    <div class="col-8">
      <a href="{{ drupal_url('node/1') }}">{{ node.label }}</a>
      {{ content.field_ucb_article_categories }}
      {{ content.field_ucb_article_summary|render }}  
    </div>
    <div class="col-4">
      {{ content.field_ucb_article_thumbnail|render }}
    </div>
  </div>
  <h3>Fat TEST END</h3>

</article>
