{#
/**
 * Theme layout to all social media icons for social media icon blocks
 * Created by Jacob Korf on 2/15/2022
 */
#}

{% if items %}
	{% for item in items %}
		{%
    	set classes = [
    	'social-media-item',
    	'person-menu-item',
    	item.is_expanded ? 'menu-item--expanded',
    	item.is_collapsed ? 'menu-item--collapsed',
   		item.in_active_trail ? 'menu-item--active-trail',
    	]%}
		<li{{item.attributes.addClass(classes)}}>

			<!-- formattedContent turns each linkURL into usable, uppercase text to determine which icon to associate with each link -->
			{% set formattedContent = item.content['#url'] |render|striptags|trim|upper %}

			{% if 'TWITTER' in formattedContent %}
				<a href="{{ item.content['#url'] }}" class="icon-a" title="Twitter" alt="Twitter">
					<span class="sr-only">Twitter</span>
					<span class="twitter-icon-bg">

						<i class="fab fa-twitter-square twitter-icon"></i>
					</span>
					<span class="vertical-icon-span">Twitter</span>
				</a>
			{% elseif 'FACEBOOK' in formattedContent %}
				<div class="icon-div">
					<a href="{{ item.content['#url'] }}" class="icon-a" title="FaceBook" alt="FaceBook">
						<span class="sr-only">FaceBook</span>
						<span class="custom-social custom-social-fb">
							<i class="fab fa-facebook-f facebook-icon"></i>
						</span>
						<div class="vertical-icon-span">FaceBook</div>
					</a>
				</div>

			{% elseif 'INSTAGRAM' in formattedContent %}
				<a href="{{ item.content['#url'] }}" class="icon-a" title="Instagram" alt="Instagram">
					<span class="sr-only">Instagram</span>
					<i class="fab fa-instagram-square instagram-icon"></i>
					<span class="vertical-icon-span">Instagram</span>
				</a>

			{% elseif 'LINKEDIN' in formattedContent %}
				<a href="{{ item.content['#url'] }}" class="icon-a" title="LinkedIn" alt="LinkedIn">
					<span class="sr-only">LinkedIn</span>
					<i class="fab fa-linkedin linkedin-icon"></i>
					<span class="vertical-icon-span">LinkedIn</span>
				</a>

			{% elseif 'YOUTUBE' in formattedContent %}
				<a href="{{ item.content['#url'] }}" class="icon-a" title="YouTube" alt="YouTube">
					<span class="sr-only">YouTube</span>
					<i class="fab fa-youtube-square youtube-icon"></i>
					<span class="vertical-icon-span">Youtube</span>
				</a>

			{% elseif 'PINTREST' in formattedContent %}
				<div class="icon-div">
					<a href="{{ item.content['#url'] }}" class="icon-a" title="Pintrest" alt="Pintrest">
						<span class="sr-only">Pintrest</span>
						<span class="pintrest-background-64">
							<i class="fab fa-pinterest-square pintrest-icon"></i>
						</span>
						<span class="vertical-icon-span">Pintrest</span>
					</a>
				</div>

			{% else %}
				<a href="{{ item.content['#url'] }}" class="icon-a" title="Social Media" alt="Social Media">
					<span class="sr-only">{{ item.content['#url'] }}</span>
					<i class="fa fa-external-link-alt"></i>
					<span class="vertical-icon-span">{{ item.content['#url'] }}</span>
				</a>

			{% endif %}
		</li>
	{% endfor %}
{% endif %}
