{#
/**
 * @file
 * Theme override to display a Basic Page.
 * Block references are in page.html.twig
 *
 */
#}
{{ block("page_header", "page.html.twig") }}

{% set social_share_button_position = drupal_config('ucb2021_base.settings', 'ucb_social_share_position')%}
{% set social_share_class = "" %}
{% if social_share_button_position == "0"%}
  {% set social_share_class = "social-share-none" %}
{% elseif social_share_button_position=="1"%}
  {% set social_share_class = "social-share-left-side-below-title" %}
{% elseif social_share_button_position=="2"%}
  {% set social_share_class = "social-share-left-side-below-content" %}
{% elseif social_share_button_position == "3" %}
  {% set social_share_class = "social-share-below-content"%}
{% elseif social_share_button_position == "4" %}
  {% set social_share_class = "social-share-below-title" %}
{% else %} 
  {% set social_share_class = "social-share-none" %}
{% endif %}

{{ page.highlighted }}

{{ page.help }}
<main role="main">
  <a id="main-content" tabindex="-1"></a>
  <div class="layout-content">
    <div class="ucb-above-content-region container">
      {{ page.above_content }}
    </div>
    {{ page.content }}
  </div>
{# Render Social Share Buttons #}
{% if social_share_button_position != "4"%}
  {% if page.social_share|render %}
      <div id={{social_share_class}} class="ucb-social-share-container">
        {{ page.social_share }}
      </div>
    {% endif %}
{% endif %}
</main>

{{ block("page_footer", "page.html.twig") }}